<%= render 'optimadmin/shared/header/main_title', title: 'New Interest' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: interests_path, title: 'Interest' %>

  <%= render 'form' %>
</div>