<%= render 'optimadmin/shared/header/main_title', title: 'Edit Contact Query Type' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: contact_query_types_path, title: 'Contact Query Type' %>

  <%= render 'form' %>
</div>