<div class="primary-focus-banner">
  <div class="focus-banner-information">
    <%= home_page_banner_presenter.content %>
  </div>

  <%= home_page_banner_presenter.show_image(alt: '', class: 'primary-focus-banner-image') %>
</div>