<div class="small-focus-banner">
  <div class="focus-banner-information">
    <p>
      We are an alliance of social enterprises delivering health and
      social care across different areas of England. Between us we deliver
      over five hundred services ranging from community nursing to custodial
      care, public health to psychological wellbeing, dentistry to paediatrics
      and much, much more.
    </p>
  </div>

  <%= image_tag 'components/banner/small-placeholder.jpg', alt: '', class: 'primary-focus-banner-image' %>
</div>

<%= @presented_page.title %>

<%= @presented_page.content %>
