<div class="small-focus-banner">
  <div class="focus-banner-information">
    <h1>
      <%= @presented_page.title %>
    </h1>
  </div>

  <%= @presented_page.banner_image(alt: '', class: 'small-focus-banner-image') %>
</div>

<div class="content-focus">
  <div class="content">
    <%= @presented_page.content %>
  </div>

  <%= render "pages/sidebars/#{@presented_page.sidebar}" %>
</div>
