.content-focus {
  @include grid-row;
}

.content {
  @include breakpoint(medium) {
    @include grid-column(7);
  }
}

.interests {
  @include breakpoint(medium) {
    @include grid-column(5);
  }
}

.focus-heading {
  border-bottom: 5px solid $pastel-green;
  display: inline-block;
  font-size: rem-calc(16px);
  letter-spacing: rem-calc(.5);
  margin: rem-calc(0 0 24px);
  padding: rem-calc(0 0 10px 0);
}
