.content-focus {
  @include grid-row;
}

.content {
  @include breakpoint(medium) {
    @include grid-column(7);
  }

  p:not(.paragraph-highlight),
  li {
    color: $dark-blue;
    font-size: rem-calc(12px);
    letter-spacing: rem-calc(.5);
    line-height: 1.7;
  }

  strong {
    color: $alternative-turquoise;
    font-weight: $open-sans-extrabold;
  }

  a {
    text-decoration: underline;

    &:link,
    &:visited  {
      color: $turquoise;
    }

    &:hover,
    &:active {
      color: $black;
    }
  }
}

.interests {
  @include breakpoint(medium) {
    @include grid-column(5);
  }
}

.focus-heading {
  border-bottom: 5px solid $pastel-green;
  display: inline-block;
  font-size: rem-calc(16px);
  letter-spacing: rem-calc(.5);
  margin: rem-calc(0 0 24px);
  padding: rem-calc(0 0 10px 0);
}
