html,
body {
  background-color: $light-grey;
  min-height: 100%;

  @include breakpoint(medium) {
    background-image: image-url('layout/global/background.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

.site-content {
  @include grid-row;
  @include grid-column(12);
  background: $white;
  float: none;
  padding-bottom: rem-calc(15px);
}
