.primary-header {
  @include grid-row;
  padding: rem-calc(25px 0 15px);
}

.logo {
  @include grid-column(8);

  @include breakpoint(medium) {
    @include grid-column(6);
  }
}

.primary-navigation-wrap {
  position: relative;

  @include breakpoint(medium) {
    @include grid-column(6);
  }
}

.primary-navigation {
  background: $white;
  border: 1px solid $pastel-orange;
  padding: rem-calc(20px);

  @include breakpoint(medium) {
    border: 0;
    padding: 0;
  }
}
