.sidebar {
  @include breakpoint(medium) {
    @include grid-column(5);
  }

  .interest-content {
    margin: rem-calc(28px 0 0);
    padding-right: rem-calc(5px);
  }

  .article-summary,
  .article-image {
    margin-left: 0;
  }

  .article-image {
    width: 40%;
  }
}

.sidebar-content {
  @include breakpoint(medium) {
    border-left: 1px solid $light-blue;
  }

  @include breakpoint(large) {
    padding-left: rem-calc(22px);
    margin-left: rem-calc(15px);
  }
}
