<div class="small-focus-banner">
  <div class="focus-banner-information">
    <h1>Page not Found</h1>
  </div>

  <%= image_tag 'components/banner/small-placeholder.jpg', alt: '', class: 'small-focus-banner-image' %>
</div>

<div class="content-focus">
  <div class="content">
    <p>The page you are looking for can not be found.</p>

    <p>If you think this is incorrect, please get in touch.</p>
  </div>
</div>
