<%= render 'optimadmin/shared/header/main_title', title: 'Edit Home Page Banner' %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: home_page_banners_path, title: 'Home Page Banner' %>

  <%= render 'form' %>
</div>