.primary-focus-banner {
  //margin-bottom: rem-calc(51px);

  @include breakpoint(medium) {
    @include grid-row;
    @include grid-column(12);
    height: 256px;
    overflow: hidden;
  }

  .focus-banner-information {
    background: image-url('components/banner/large-mask.png') no-repeat left center;
    height: 100%;
    max-height: 258px;
    padding: rem-calc(5px);
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;

    @include breakpoint(medium) {
      padding: rem-calc(70px 210px 70px 70px);
      text-align: left;
      width: 607px;
    }
  }

  h1,
  h2,
  h3,
  p {
    max-width: 470px;
  }

  p {
    color: $white;
    font-size: rem-calc(16px);
  }
}

.small-focus-banner {
  margin-bottom: rem-calc(16px);
  overflow: hidden;

  @include breakpoint(medium) {
    @include grid-row;
    @include grid-column(12);
    margin-bottom: rem-calc(31px);
    max-height: 83px;
  }

  .focus-banner-information {
    background: image-url('components/banner/small-mask.png') no-repeat left center;
    text-align: center;
    padding: rem-calc(34px);
    width: 100%;
    z-index: 1;

    @include breakpoint(medium) {
      padding: rem-calc(34px 210px 30px 34px);
      position: absolute;
      text-align: left;
      width: 607px;
    }
  }

  h1 {
    color: $pastel-orange;
    font-size: rem-calc(18px);
    font-weight: $open-sans-extrabold;
    margin: 0;
    max-width: 451px;
    padding: 0;
  }
}

.primary-focus-banner-image,
.small-focus-banner-image {
  display: none;

  @include breakpoint(medium) {
    display: block;
    float: right;
  }
}
