<!DOCTYPE html>
<html>
  <%= render 'layouts/shared/head' %>

  <body>
    <div class="site-content">
      <%= render 'layouts/shared/header' %>

      <%= yield %>

      <%= render 'layouts/shared/footer' %>
    </div>
  </body>
</html>
